# CMake / Ninja / Make build trees
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
*.cmake

# scikit-build のビルドツリー
_skbuild/

# Python 拡張共有ライブラリ
*.so

# Egg / wheel metadata
*.egg-info/
dist/

# cache
.DS_Store